<!DOCTYPE html>
<html>

<head>
  <title>SEI Student Fun Facts</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo left">PostMit</a>
        <!-- Add login UI here -->
        <ul class="right">
          <li>
            <% if(user1) { %>
              <a href="/logout"><i class="material-icons left"></i>Logout with Google</a>
            <% }else { %>
              <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
            <% } %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <% if(user1) { %>
        <h1>Hello <%= user1.name %></h1>
        <form action="/post" method="POST">
          <input type="text" placeholder="Create post" name="post">
          <button type="submit">Post</button>
        </form>
      <% } %>
      <div id="students" class="col s6 offset-s3">
        <% user.forEach(function(e, i) { %>
          <% e.post.forEach(function(elm){ %>
            <div class="card">
              <% if(user1) { %>
              <form action="/post/<%= elm._id %>?_method=DELETE" method="POST" class="secondary-content">
                <button type="submit" class="btn-small red-text">X</button>
              </form>
              <% } %>
              <div class="card-content white-text">
                <% if (e.avatar) { %>
                  <img src="<%= e.avatar %>" alt="" class="circle responsive-img">
                <% } else { %>
                  <i class="small material-icons">perm_identity</i>
                <% } %>
                <div>
                  <span class="card-title">
                    <h2>Post Title</h2>
                  </span>
                </div>
                <p class="post"><%= elm.post %></p>
                <% if(user1) { %>
                <div>
                  <span>comment</span> <span>like</span> <span><a href="/post/<%= elm._id %>/edit">Edit</a></span>
                </div>
                <% } %>
              </div>
            </div>
          <% }) %>
        <% }) %>
      </div>
    </div>
  </div>
</body>

</html>