<!DOCTYPE html>
<html>

<head>
  <title>SEI Student Fun Facts</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body><div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left">PostMit</a>
      <!-- Add login UI here -->
      <ul class="right">
        <% if(user1) { %>
        <li>
          <a href="/user/<%= user1._id %>"><img valign="middle" class="circle" width="25" src="<%= user1.avatar %>" alt="User"></a>
        </li>
        <% } %>
        <li>
          <% if(user1) { %>
            <a href="/logout"><i class="material-icons left"></i>Logout with Google</a>
          <% }else { %>
            <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
          <% } %>
        </li>
      </ul>
    </div>
  </nav>
</div>
  <div class="container">
    <div class="row">
      <% if(user1) { %>
        <h1>Hello <%= user1.name %></h1>
        <form action="/post" method="POST">
          <input type="text" placeholder="Create post" name="post">
          <button type="submit" class="post-btn">Post</button>
        </form>
      <% } %>
      <div id="students" class="col s6 offset-s3">
        <% user.forEach(function(e, i) { %>
          <% e.post.forEach(function(elm){ %>
            <div class="card">
              <div class="card-content white-text">
                <% if (e.avatar) { %>
                  <img src="<%= e.avatar %>" alt="" class="circle responsive-img user-img">
                <% } else { %>
                  <i class="small material-icons">perm_identity</i>
                <% } %>
                <p class="post"><%= elm.post %></p>
                <% if(user1) { %>
                <div class="post-links">
                  <span><a href="/post/<%= elm._id %>">View</a></span><span class="pd"><a href="/post/<%= elm._id %>/comment">Comment</a></span><span><a href="/post/<%= elm._id %>/edit">Edit</a></span>
                </div>
                <% } %>
              </div>
            </div>
          <% }) %>
        <% }) %>
      </div>
    </div>
  </div>
</body>

</html>