<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../../stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Document</title>
  </head>
<body>
  <!-- <h1>update</h1>
  <form action="/post/<%= postId %>?_method=PUT" method="POST">
    <input type="text" name="post">
    <button type="submit">Edit</button>
  </form> -->



  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo left">PostMit</a>
        <!-- Add login UI here -->
        <ul class="right">
          <% if(user) { %>
          <li>
            <a href="/"><img valign="middle" class="circle" width="25" src="<%= user.avatar %>" alt="User"></a>
          </li>
          <% } %>
          <li>
            <% if(user) { %>
              <a href="/logout"><i class="material-icons left"></i>Logout with Google</a>
            <% }else { %>
              <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
            <% } %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <div id="students" class="col s6 offset-s3">
          <div class="card">
            <div class="card-content white-text">
              <% if (user.avatar) { %>
                <img src="<%= user.avatar %>" alt="" class="circle responsive-img user-img">
              <% } else { %>
                <i class="small material-icons">perm_identity</i>
              <% } %>
              <div>
              <br>
              <form action="/post/<%= postId %>?_method=PUT" method="POST">
                <textarea name="post" id="" cols="30" rows="10"><%= post.post %></textarea>
                <button type="submit" class="btn-small red-text">Submit</button>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</body>
</html>